alias v="nvim"
alias c="clear"
alias f="nautilus ."
alias t="tmux"
alias s="source myvenv/bin/activate"
alias d="deactivate"
alias gotop="gotop-brlin"
alias djanGO="python manage.py runserver"

# Git aliases

alias gi="git init"

# Staging
alias ga="git add"
alias gua="git rm --cached" # Use this option to unstage and remove paths only from the index.

# Commit
alias Gc="git commit"
alias gcm="git commit --message"
alias gcd="git commit --verbose" # Show unified diff between the HEAD commit and what would be committed at the bottom of the commit message
alias gcfast="git commit -a" # git add . + git commit
alias gca="git commit --amend" # Replace the tip of the current branch by creating a new commit.

# Removing, moving and undoing
alias grm="git rm" # Remove files matching pathspec from the index, or from the working tree and the index
alias gmv="git mv" # Move or rename a file, directory or symlink
alias gu="git checkout --" # Discard changes in working directory

# Status
alias Gs="git status"
alias gss="git status --short"

# Logging
alias gl="git log"
alias gls="git log --stat"
alias glp="git log --patch"
alias glo="git log --pretty=oneline"
alias glG="git log --oneline --decorate --graph --all"
alias glg="git log --pretty=format:"%h %s" --graph"
alias glS="git log -S"
alias glb="git branch -v" # Outputs last commit in each branch

# Git diff
alias gd="git diff"
alias gds="git diff --staged"

# Remotes
alias gr="git remote -v"
alias grs="git remote show"
alias grr="git remote rename"
alias gc="git clone"
alias gf="git fetch"
alias gp="git push"

# Branching
alias gb="git branch"
alias gcout="git checkout"
alias gcb="git checkout -b" # Create and check branch
alias gm="git merge"
alias gdb="git branch -d"
alias gbmerged="git branch --merged" # Filter the list of branches to branches that you have merged







# Config alias for dotfiles bare repo
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
